@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body{
    background-color: #d7d3c7;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

#h2{
    color: rgb(255, 255, 255);
    font-size: 5vh;
    font-weight: bold;
    margin-top: 3.5rem;
    margin-bottom: 1.75rem;
    text-align: center; 
}

.bg-light, .btn-primary {
    background-color: #245c9c !important;
}

header > div > a > img {
    height: 15vh;
    align-items: start;
}

.nav-item , .nav-link {
    color: white !important; /* O !important garante que essa regra tenha precedência sobre outras */
    padding: 0.55rem;
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 0.75rem;
}

.btn {
   border-width: 0.20em; 
   border-radius: 1.35em;
}

.transition , .btn-login{
    transition: transform 0.3s ease; /* Define a transição de transformação */
}
  
.transition:hover , .btn-login:hover{
    transform: scale(1.05); /* Aumenta a escala em 5% ao passar o mouse */
}

section > img {
    width: 100%;  
}

.text-light {
    color: #245c9c !important;
    font-weight: bold; 
}

#carrossel {
    display: flex;
    overflow: auto;
}

#carrossel img {
    padding: 0.30rem;
    height: 57vh;
    border-radius: 0.8rem;
}

figcaption {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: #5c8cac;
}

#quemsomos{
    margin-top: 3.5rem;
}

#sub-titulo{
    color: white;
    font-size: 2.5vh;
}

section > article > div > img {
    width: 100%;
    border-radius: 0.8rem;
}

.top {
    display: flex;
    text-align: center;
    margin-top: 3rem;
    gap: 1rem;
}

.top img {
    height: 40vh;
    width: 40vh;
}

.top p {
    margin-top: 8rem;
    font-size: 3.5vh;
    font-weight: 600;
}


#body-login{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    background-color: #245c9c;
    display: grid;
    text-align: center;
    align-items: center; /* Centraliza horizontal e verticalmente */
    height: 100vh; /* Ocupa toda a altura da tela (opcional) */
    margin: 0 auto; /* Remove margens padrão */
}

#h1-adm{
    font-size: 12vh;
}

#h2-adm{
    font-size: 3vh;
    margin-right: 12em;
    margin-top: 2vh;
}

#h1-adm,  #h2-adm{
    color: #ffffff;
}

#login-login{
   margin: 0 auto;
}

input {
    font-size: 2vh;
    height: 6vh;
    border: none;
    border-radius: 9px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 0.75rem;
}
::placeholder {
    font-size: 3vh;
    margin-left: 0.75rem;
}

input, .login{
    width: 45vh;
}

.btn-login {
    font-weight: bold;
    background-color: #d7d3c7;
    color: #245c9c;
    font-size: 4vh;
    margin-top: 2rem;
    font-family: "Inter", serif;
}

.formulario {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    background-color: #5c8cac;
    border-radius: 2rem;
    height: 52vh;
    width: 100vh;
}
